@font-face {
  font-family: 'vekta';
  src:  url('../fonts/vekta.eot?k9dxwk');
  src:  url('../fonts/vekta.eot?k9dxwk#iefix') format('embedded-opentype'),
    url('../fonts/vekta.ttf?k9dxwk') format('truetype'),
    url('../fonts/vekta.woff?k9dxwk') format('woff'),
    url('../fonts/vekta.svg?k9dxwk#vekta') format('svg');
  font-weight: normal;
  font-style: normal;
}

.i-vekta {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vekta' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-vekta--print:before {
  content: "\e92d";
}
.i-vekta--basket:before {
  content: "\e92c";
}
.i-vekta--list-plus:before {
  content: "\e92b";
}
.i-vekta--auto:before {
  content: "\e900";
}
.i-vekta--call-end:before {
  content: "\e901";
}
.i-vekta--check:before {
  content: "\e902";
}
.i-vekta--chevron-left:before {
  content: "\e903";
}
.i-vekta--cleaning:before {
  content: "\e904";
}
.i-vekta--climat:before {
  content: "\e905";
}
.i-vekta--clock:before {
  content: "\e906";
}
.i-vekta--close:before {
  content: "\e907";
}
.i-vekta--drinks:before {
  content: "\e908";
}
.i-vekta--products:before {
  content: "\e909";
}
.i-vekta--economy:before {
  content: "\e90a";
}
.i-vekta--envolope:before {
  content: "\e90b";
}
.i-vekta--eye:before {
  content: "\e90c";
}
.i-vekta--hair:before {
  content: "\e90d";
}
.i-vekta--gadget:before {
  content: "\e90e";
}
.i-vekta--lighting:before {
  content: "\e90f";
}
.i-vekta--list:before {
  content: "\e910";
}
.i-vekta--location-pin:before {
  content: "\e911";
}
.i-vekta--lock:before {
  content: "\e912";
}
.i-vekta--lock-open:before {
  content: "\e913";
}
.i-vekta--login:before {
  content: "\e914";
}
.i-vekta--logout:before {
  content: "\e915";
}
.i-vekta--media:before {
  content: "\e916";
}
.i-vekta--menu:before {
  content: "\e917";
}
.i-vekta--mobile:before {
  content: "\e918";
}
.i-vekta--mode3:before {
  content: "\e919";
}
.i-vekta--food:before {
  content: "\e91a";
}
.i-vekta--panel:before {
  content: "\e91b";
}
.i-vekta--power700:before {
  content: "\e91c";
}
.i-vekta--refresh:before {
  content: "\e91d";
}
.i-vekta--reload:before {
  content: "\e91e";
}
.i-vekta--search:before {
  content: "\e91f";
}
.i-vekta--settings:before {
  content: "\e920";
}
.i-vekta--shevron-down:before {
  content: "\e921";
}
.i-vekta--shevron-right:before {
  content: "\e922";
}
.i-vekta--shevron-up:before {
  content: "\e923";
}
.i-vekta--sport:before {
  content: "\e924";
}
.i-vekta--trash:before {
  content: "\e925";
}
.i-vekta--tv:before {
  content: "\e926";
}
.i-vekta--user:before {
  content: "\e927";
}
.i-vekta--volume20:before {
  content: "\e928";
}
.i-vekta--clothes:before {
  content: "\e929";
}
.i-vekta--beauty:before {
  content: "\e92a";
}
